/*
.left-column {
    max-height: 350px;
}

.right-column {
    max-height: auto;
}
*/
.top-columns {
    max-height: auto;
}


#body {
    background-color: lavenderblush;
}

.hr {
    border: 1px solid grey;
    width: auto;
    height: 2px;
}


.responsive {
    width: 80%;
    height: auto;
    margin-top: 58px;
}

.pammi-img {
    background-color: lavenderblush;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: transparent;
    /*color: #555;*/
    color: hotpink;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;

}

