
#body {
background-color: lavenderblush;
}
.hr {
    border: 1px solid grey;
    width: auto;
    height: 1px;
}
top-columns {
    max-height: auto;
}
.top-columns {
    margin-top: 30px;
}
#slideshow {
    margin: 50px auto;
    position: relative;
    width: auto;
    height: auto;
}

#slideshow >div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}