<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fsd</title>
    <link rel="stylesheet" type="text/css" href="../CSS/lol.css">
    <!-- Latest compiled and minified CSS -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->


<!-- Latest compiled JavaScript -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#john-bar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand">Pammi Nanda Foundation</p>

            </div>
            <div class="collapse navbar-collapse" id="john-bar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href=""> SERVICES </a>
                    </li>
                    <li>
                        <a href=""> TEAM </a>
                    </li>
                    <li>
                        <a href="contact.html"> CONTACT US </a>
                    </li>
                    <li>
                        <a href=""> PHOTOGALLERY </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>
<div class="container-fluid">

    <div class="row">
        <div class="text-center jernej">
            <img src="../images/pnf_logo.jpg" alt="PNF logo" class="responsive">
        </div>
    </div>
</div>
<div id="body">

  <!--<div class="row">-->

  <!--</div>-->

    <div class="container">
        <div class="row top-columns">

            <div class="col-sm-6 left-column">
                <h2>ABOUT US</h2><br>
                <p>
                    <strong>Pammi Nanda Foundation (PNF)</strong> was founded in 2011 as a charitable organization.
                    We have clearance of <strong>12A</strong> tax free status. We are regularly audited by government and our corporate auditors and believe in complete honesty and transparency.<br><br>
                    Pammi Nanda Foundation has existed on the basic principle of equality for all and especially to those who do not possess it.
                    An innumerable number of the underprivileged population aspires to be the beneficiary of socio-economic and medical schemes.<br><br>
                    <strong>The details for sending donations online are:-
                    Axis Bank Dehradun Saving Bank A/c No: 911010034146815    IFSC Code: 093160.
                    The patrons can also send their donations by post to: 145 B, Sector 4 Defence Colony, Dehradun, Uttarakhand. INDIA.</strong><br><br>
                    <em>We would like to inform that all donations are exempt from income tax under <strong>section 80G</strong> and the receipts from the foundation would be sent to the donors by mail/post as desired.</em>
                </p>
            </div>

            <div class="col-md-6 right-column">
                 <h2>OUR MISSON</h2><br>
                <p>
                    <strong>Our mission</strong> has sought to provide for the underprivileged with education and to contribute to society positively and advance human achievement.
                    We believe that education is the paramount pre-requisite of a comfortable life and everyone should have a stake in being informed, as knowledge is power, which eventually leads to progress.<br><br>
                    We strengthen our foundation everyday by providing to the needy and to make thousands of people happy by providing education.
                    Over the past <strong>08</strong> years our mission and vision have guided us through transformations in the foundation, the communities we serve, and the society at large.<br><br>
                    To see a smile on somebody’s face who didn’t have a reason to do so is the greatest part about our initiative.
                    Not only does it leave our hearts content but also benefits the society at large to the path of progress and development.
                    We believe that there exists an inherent opportunity for all people, but around us, too many people are excluded from the socio-economic, medical and social institutions that shape their lives.
                  </p>
            </div>
        </div>
        <br>
        <div class="hr">
            <hr>
        </div>
        <br>
    </div>
</div>
</body>
</html>