
.left-column {
    max-height: 350px;
}


}
.right-column {
    max-height: 350px;
}

}
#body {
    background-color: lavenderblush;
}
.hr {
    border: 1px solid grey;
    width: auto;
    height: 1px;
}
